html{
  background-color: hsl(204, 43%, 93%);
  font-family: Karla, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.main{
  position: relative;
  /* background-color: hsl(204, 43%, 93%);
  width: 100%; */
}

.inner-content{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;

  height: 475px;
  width: 630px;
  background-color: #ffffff;
  border-radius: 5px;
  

}

footer{
  clear: both;
  width: 100%;
}