html, body{
  margin: 0;
  padding: 0;
  background-color: hsl(204, 43%, 93%);
  font-family: Karla, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main{
  height: 475px;
  width: 630px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: auto;
  box-sizing: border-box;
}

.top{
  height: 220px;
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.top h2{
  color: hsl(179, 62%, 43%);
  margin-top: 0;
}

.top h3{
  color: hsl(71, 73%, 54%);
}

.top p{
  color: hsl(218, 22%, 67%);
}

.bottom{
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.bottom h3{
  margin-top: 0;
}

.bottom h1{
  display: inline-block;
  margin: 0;
}

.description{
  font-size: 0.9375rem;
}

.bottom-left{
  flex: 1;
  background: #2BB3B1;
  border-bottom-left-radius: 5px;
  padding: 2.5rem;
}

.bottom-right{
  flex: 1;
  background: #4ABEBD;
  border-bottom-right-radius: 5px;
  padding: 2.5rem;
}


